@model Shubhdecoration.Data.Account.SignupModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link href="~/css/loginstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="page-container">
        <div class="form-card">
            <button class="close-btn" type="button" onclick="window.history.back();">&times;</button>
            <h2 class="form-title">
                <span class="dot">•</span> Registration Form <span class="dot">•</span>
            </h2>
            <form asp-action="Signup" asp-controller="Account" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger-summary"></div>
                <div class="input-group">
                    <input asp-for="Name" required placeholder=" " autocomplete="off" />
                    <label asp-for="Name"><span class="required">*</span> Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <input asp-for="Email" required placeholder=" " autocomplete="off" />
                    <label asp-for="Email"><span class="required">*</span> Email address</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <input asp-for="Phone" onkeyup="validateMobileNumber()" maxlength="10"  required placeholder=" " autocomplete="off" />
                    <label asp-for="Phone"><span class="required">*</span> Phone</label>
                    <span asp-validation-for="Phone" class="text-danger error-message"></span>
                </div>

                <div class="input-group password-group">
                    <input asp-for="Password" required placeholder=" " autocomplete="off" type="password" id="RegPassword" />
                    <label asp-for="Password"><span class="required">*</span> Password</label>
                    <span class="password-toggle" onclick="togglePassword('RegPassword', 'toggleTextPass')" id="toggleTextPass">SHOW</span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-group password-group">
                    <input asp-for="ConfirmPassword" required placeholder=" " autocomplete="off" type="password" id="ConfirmPassword" />
                    <label asp-for="ConfirmPassword"><span class="required">*</span> Confirm Password</label>
                    <span class="password-toggle" onclick="togglePassword('ConfirmPassword', 'toggleTextConf')" id="toggleTextConf">SHOW</span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="checkbox-group">
                    <input asp-for="TermsAccepted" required />
                    <label asp-for="TermsAccepted">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    </label>
                    <span asp-validation-for="TermsAccepted" class="text-danger" style="display:block; margin-top:5px;"></span>
                </div>
                <button type="submit" class="btn-submit">CREATE ACCOUNT</button>
                <div class="row mb-2 anchortext">
                    <p>Back To <a href="/Account/Login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/common.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

            function togglePassword(inputId, toggleId) {
                const passwordInput = document.getElementById(inputId);
                const toggleText = document.getElementById(toggleId);
    
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    toggleText.innerText = "HIDE";
                } else {
                    passwordInput.type = "password";
                    toggleText.innerText = "SHOW";
                }
            }
    </script>
</body>
</html>