@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/css/homestyle.css" rel="stylesheet" />
<section class="contact-banner">
    <div class="container">
        <h1>Contact Us</h1>
        <p>We'd love to hear from you.</p>
    </div>
</section>
<section class="contact-content">
    <div class="container">
        <div class="contact-wrapper"> 
            <div class="contact-info">
                <h2>Register Address</h2>
                <div class="info-box">
                    <div class="icon">📍</div>
                    <div>
                        <h4>Address</h4>
                        <p>Sarasawan,Sarasawan Manjhanpur Kaushambi Uttar Pradesh 212207, India</p>
                    </div>
                </div>
                <div class="info-box">
                    <div class="icon">📞</div>
                    <div>
                        <h4>Call Us</h4>
                        <p>+91 9918284882</p>
                    </div>
                </div>
                <div class="info-box">
                    <div class="icon">✉</div>
                    <div>
                        <h4>Email</h4>
                        <p>khushievents@gmail.com</p>
                    </div>
                </div> 
            </div>

            <!-- Right Side -->
            <div class="contact-form">
                <h2>Send Message</h2>
                <form>
                    <input type="text" placeholder="Your Name">

                    <input type="text" placeholder="Address">

                    <input type="text" placeholder="Contact Number">

                    <input type="email" placeholder="Email Address">

                    <textarea rows="5" placeholder="Your Message"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="location-section py-5">  
        <div class="text-center mb-4">
            <h2 class="location-heading">Our Location</h2>
            <p>
                Sarsawan, Manjhanpur, Kaushambi,
                Uttar Pradesh - 212207
            </p>
        </div> 
        <div class="map-container"> 
            <iframe src="https://maps.google.com/maps?q=Sarsawan%20Manjhanpur%20Kaushambi%20Uttar%20Pradesh%20212207&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    allowfullscreen=""
                    loading="lazy">
            </iframe> 
        </div> 
</section>