@using Shubhdecoration.Data.Decoration
@model AlldecorationModel;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/dashboard.css" rel="stylesheet" />
<div>
    <main class="main-content"> 
        <div class="dashboard-body">
            <div class="table-container">
                <div class="table-header">
                    <h2>Recent Event Enquiries</h2> 
                    <a href="/Master/CreateCategory" class="btn-add-new">Add New</a>
                </div>
                <div class="responsive-table-wrapper p-2">
                    <table id="tblCategoty">
                        <thead>
                            <tr>
                                <th>Caategory</th>
                                <th>Description</th>
                                <th>CreatedAt</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.CategoryList != null && Model.CategoryList.Count() > 0)
                            {
                                foreach (var user in Model.CategoryList)
                                {
                                    <tr>
                                        <td>@(user.CategoryName)</td>
                                        <td>@(user.Description)</td>
                                        <td>@(user.CreatedAt)</td>
                                        <td>
                                            @if (user.IsActive)
                                            {
                                                <span class="status-badge badge-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="status-badge badge-pending">In-Active</span>
                                            }
                                        </td>
                                        <td>
                                            <a href="/Master/EditCategory?CId=@user.CategoryId" class="btn btn-info">Edit</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main> 
</div>
@section scripts {
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/js/jquery-ui.js"></script> 
    <script type="text/javascript">
        $(function () {
        $("#tblCategoty").dataTable({ "ordering": true, 'iDisplayLength': 100 });
        });
        function print(url, windowName) {
        newwindow = window.open(url, windowName, 'height=800,width=1000');
        if (window.focus) { newwindow.focus() }
        return false;
        }

    </script>
}
